<h1>Create a New Schedules</h1>

<%= render partial: 'layouts/errors', locals: {object: @schedules} %>


<%= form_with(model: @schedules) do |s| %>
  <%= s.label :name %>
  <%= s.text_field :name %>
  <br>

  <h3>Add Schedules:  </h3>
  <%= s.label :events_ids, "Schedules:" %>
  <%= s.collection_check_boxes :event_ids, Event.all, :id, :attending %>
  <br>


  <h3>Or Create a Schedule</h3>
  <%= f.fields_for :events do |event_field| %>

    <%= render 'events/form',  {f: event_field} %>
  <hr>
  <% end %>

  <%= f.submit %>
<% end %>
