
<h1>Attending</h1>
<% if @schedule.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this Event to create:</h2>
  <ul>
  <% @schedule.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>


  <%= form_for @schedule, :url => {:action => "create"} do |s|%>
  <br>

  <%= s.hidden_field :event_id, value: @event.id %>
  <%= s.label :events_ids, "Schedules:" %>
  <%= s.text_field :attending %>
  <br>


  <%= s.submit "Please confirm" %>
<% end %>
