<% if @event.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@event.errors.count, "error") %> prohibited this Event to create:</h2>
  <ul>
  <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">You can Edit <%= display_nested_title %> here</h1>

  <%= form_for @event do |e|%>
  <%= render 'form', {e: e} %>

  <% end %>
