<h1>You can Edit <%= display_nested_title %> here:</h1>

<% if @event.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@event.errors.count, "error") %> prohibited this Event to create:</h2>
  <ul>
  <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>



  <%= form_for @event do |e|%>
  <%= render 'form', {e: e} %>

  <% end %>
