<% if @event.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@event.errors.count, "error") %> prohibited this Event to create:</h2>
  <ul>
  <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Create New <%= display_nested_title %> here</h1>
    <p class="lead">Please enter event details below</p>



  <%= form_for @event, :url => {:action => "create"} do |e|%>

  <%= render 'form', {e: e} %>
  <% end %>

 
  


