<h1>Create New <%= display_nested_title %> here:</h1>

<% if @event.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@event.errors.count, "error") %> prohibited this Event to create:</h2>
  <ul>
  <% @event.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
</div>
<% end %>

<%= form_with(model: [@event]) do |e| %>

 <% if @schedule.nil? %>
  <%= e.label :schedule_id %>
  <%= e.collection_select :schedule_id, Schedule.all, :id, :attending, prompt: true  %>

  <br>

    <h3>Or let us know if Attending</h3>
    <%= e.fields_for :schedule do |e| %>
      <%= e.label :attending%>
      <%= e.text_field :attending %>
      
      <br>
    <% end %>


  <% else %>
      <%= f.hidden_field :schedule_id %>
  <% end %>

   <br>
  <%= e.submit %>
<% end %>
