

<p>Location: <%= @event.location%></p>

<p>Event Type: <%= @event.event_type%></p>
<p>Start: <%= @event.start%></p>
<p>End: <%= @event.end%></p>


<%= link_to( "Edit" ,edit_event_path(@event), method: 'edit') %>
<%= link_to( "Delete" ,event_path(@event), method: 'delete') %>


  <h3>Please RSVP</h3>
<%= link_to( "RSVP", new_event_schedule_path(@event), method: 'get') %>
