<h1>Sign up</h1>

  <% if @player.errors.any? %>
  <div id="error_explanation">

  <h2><%= pluralize(@player.errors.count, "error") %> prohibited this Player to Sign Up:</h2>

  <ul>
  <% @player.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
  </div>

  <% end %>
  <%= form_for @player do |f|%>
  <%= f.label :username%><br>
  <%= f.text_field :username%><br>
  <%= f.label :password%><br>
  <%= f.password_field :password%><br>
  <%= f.label :age%><br>
  <%= f.number_field :age%><br>


  <%= submit_tag "Player Sign Up"%>
  <%end%>
  