<!DOCTYPE html>
<html>
  <head>
    <title>LICSoccerapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
  <% if session[:player_id] %>
  <nav>
  <p>You are logged in as: <%= current_player.username %></p>
  <p> Your Team is: <%= current_player.team.name %></p>
  <%= link_to("Logout", '/logout') %>

  <% else %>
 |<%= link_to("Sign Up", new_player_path) %>
 |<%= link_to("Log In", '/login') %>
 <%= link_to("Log In With Google", '/auth/google_oauth2') %>
 <% end %>
  </nav>

  </div>
    <%= yield %>
  </body>
</html>

