<!DOCTYPE html>
<html>
  <head>
    <title>LICSoccerapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div>
  <% if session[:current_player_id] %>
  <nav>
  You are logged in as: <%= @current_player_id %>
 |
  </nav>
  <% end %>
  </div>
    <%= yield %>
  </body>
</html>
